<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
 
  <appSettings>
    <add key="CORTICON_ASPNET_URL" value="http://154.66.196.95:80/axis/services/Corticon" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="FolderPath" value="~/uploads/" />
  </appSettings>
  <location path="RFriskv100CS.aspx">
    <system.web>
     <customErrors mode="Off" />
<httpRuntime executionTimeout="900000" maxRequestLength="4096" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true" />
    </system.web>
  </location>
    <system.web>
      
      <pages enableViewState="true" />
      <customErrors mode="RemoteOnly" defaultRedirect="addquote.aspx" />
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="CON" connectionString="Data Source=SERVER;Initial Catalog=Quotationsdev;User ID=su;Password=P@ssw0rd" />  </connectionStrings>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="index.html" />
                <add value="Welcome.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
